@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400");

body,
html {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  color: #878787;
}

.container {
  margin: 0% auto;
  border-radius: 20px;
  padding: 30px;
  background: #eaeaea;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

